In [2]:
import tweepy
import pandas as pd
import time

In [3]:
# Set your Bearer Token here
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAGFsyAEAAAAAbWbhGB6UyKY7GnPRFjsxRY0V13c%3DQrHQ6QIJCgrsLIqirEjIg7navne4M8EuwTTXWO57g9Kszm3riJ'

# Authenticate with Twitter API
client = tweepy.Client(bearer_token=bearer_token)

# Hashtag and tweet count
hashtag = '#LisabiALegendIsBorn'
tweet_count = 100

In [4]:
# Function to get tweets with rate limit handling
def fetch_tweets():
    try:
        tweets = client.search_recent_tweets(
            query=hashtag, max_results=tweet_count, 
            tweet_fields=['created_at', 'id', 'author_id', 'public_metrics'],
            user_fields=['username', 'location'], expansions='author_id'
        )
        return tweets
    except tweepy.TooManyRequests:
        print("Rate limit reached. Sleeping for 15 minutes.")
        time.sleep(15 * 60)
        return fetch_tweets()

In [5]:
# Fetch tweets
tweets = fetch_tweets()

if tweets.data:
    # Prepare tweet data
    user_dict = {user.id: user for user in tweets.includes['users']}
    tweet_data = [{
        'Date': tweet.created_at,
        'TweetID': tweet.id,
        'User': user_dict.get(tweet.author_id, {}).get('username', 'Unknown'),
        'Location': user_dict.get(tweet.author_id, {}).get('location', 'Not Provided'),
        'Tweet': tweet.text,
        'Likes_Count': tweet.public_metrics['like_count'],
        'Retweet_Count': tweet.public_metrics['retweet_count'],
        'Quote_Count': tweet.public_metrics['quote_count'],
        'Reply_Count': tweet.public_metrics['reply_count']
    } for tweet in tweets.data]

    # Create DataFrame
    df = pd.DataFrame(tweet_data)

    # Save DataFrame to CSV
    df.to_csv('tweets_data.csv', index=False)

    print("Tweets saved to 'tweets_data.csv'")
else:
    print("No tweets found.")

Tweets saved to 'tweets_data.csv'

In [8]:
df

,Date,TweetID,User,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2025-01-12 14:41:51+00:00,1878452334042243304,Adekunle_Bo,"Lagos, Nigeria",RT @ayindeautos: The bus driver is actually co...,0,13,0,0
1,2025-01-12 14:39:56+00:00,1878451854348022056,Kolawole11960,None,RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...,0,15,0,0
2,2025-01-12 14:28:26+00:00,1878448960286683275,dxh8932,None,#LijoNo #حرائق_لوس_أنجلوس #حرائق_كالفورنيا #Li...,0,0,0,0
3,2025-01-12 14:27:24+00:00,1878448699262591035,TheDimejiLateef,Nigeria,RT @dahjesuboy: My rate 9/10 why there's origi...,0,1,0,0
4,2025-01-12 14:23:24+00:00,1878447691820122373,Wimfatanya_nisi,None,RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...,0,15,0,0
...,...,...,...,...,...,...,...,...,...
95,2025-01-12 14:02:49+00:00,1878442514048307611,lliium1,None,#LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...,0,0,0,0
96,2025-01-12 14:02:44+00:00,1878442493370421445,Ollixii8,دولة الكويت,#LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...,0,0,0,0
97,2025-01-12 14:02:44+00:00,1878442492250701844,Investortopgun,Earth,#Arknights #Alerta #CubaConVenezuela #cryptoma...,0,0,0,0
98,2025-01-12 14:02:31+00:00,1878442438496313501,lliium1,None,#LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...,0,0,0,0
99,2025-01-12 14:02:21+00:00,1878442393533284671,lliium1,None,#LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...,0,0,0,0

In [9]:
df.info

<bound method DataFrame.info of                         Date              TweetID             User  \
0  2025-01-12 14:41:51+00:00  1878452334042243304      Adekunle_Bo
1  2025-01-12 14:39:56+00:00  1878451854348022056    Kolawole11960
2  2025-01-12 14:28:26+00:00  1878448960286683275          dxh8932
3  2025-01-12 14:27:24+00:00  1878448699262591035  TheDimejiLateef
4  2025-01-12 14:23:24+00:00  1878447691820122373  Wimfatanya_nisi
..                       ...                  ...              ...
95 2025-01-12 14:02:49+00:00  1878442514048307611          lliium1
96 2025-01-12 14:02:44+00:00  1878442493370421445         Ollixii8
97 2025-01-12 14:02:44+00:00  1878442492250701844   Investortopgun
98 2025-01-12 14:02:31+00:00  1878442438496313501          lliium1
99 2025-01-12 14:02:21+00:00  1878442393533284671          lliium1

          Location                                              Tweet  \
0   Lagos, Nigeria  RT @ayindeautos: The bus driver is actually co...
1             None  RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...
2             None  #LijoNo #حرائق_لوس_أنجلوس #حرائق_كالفورنيا #Li...
3          Nigeria  RT @dahjesuboy: My rate 9/10 why there's origi...
4             None  RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...
..             ...                                                ...
95            None  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...
96     دولة الكويت  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...
97           Earth  #Arknights #Alerta #CubaConVenezuela #cryptoma...
98            None  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...
99            None  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...

    Likes_Count  Retweet_Count  Quote_Count  Reply_Count
0             0             13            0            0
1             0             15            0            0
2             0              0            0            0
3             0              1            0            0
4             0             15            0            0
..          ...            ...          ...          ...
95            0              0            0            0
96            0              0            0            0
97            0              0            0            0
98            0              0            0            0
99            0              0            0            0

[100 rows x 9 columns]>

In [10]:
#Print the statistical description of the dataset, including that of 'object' data types.
df.describe(include = 'all').transpose()

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Date,100,NaN,NaN,NaN,2025-01-12 14:11:19.189999872+00:00,2025-01-12 14:02:21+00:00,2025-01-12 14:05:50+00:00,2025-01-12 14:10:54+00:00,2025-01-12 14:13:19.249999872+00:00,2025-01-12 14:41:51+00:00,NaN
TweetID,100.0,NaN,NaN,NaN,1878444652614345984.0,1878442393533284608.0,1878443273842262016.0,1878444545978880256.0,1878445155822217216.0,1878452334042243328.0,1810945851338.870605
User,100,22,qyd17509,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,22,7,Kuwait,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tweet,100,98,RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Likes_Count,100.0,NaN,NaN,NaN,0.05,0.0,0.0,0.0,0.0,3.0,0.35887
Retweet_Count,100.0,NaN,NaN,NaN,1.02,0.0,0.0,0.0,0.0,46.0,5.193197
Quote_Count,100.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Reply_Count,100.0,NaN,NaN,NaN,0.02,0.0,0.0,0.0,0.0,1.0,0.140705

In [11]:
#check missing values in the dataset
df.isnull().sum()

Date              0
TweetID           0
User              0
Location         78
Tweet             0
Likes_Count       0
Retweet_Count     0
Quote_Count       0
Reply_Count       0
dtype: int64

In [13]:
# Replace NaN or None in the 'location' column with 'unknown'
df['Location'] = df['Location'].fillna('Not Specified')

In [14]:
#check missing values in the dataset
df.isnull().sum()

Date             0
TweetID          0
User             0
Location         0
Tweet            0
Likes_Count      0
Retweet_Count    0
Quote_Count      0
Reply_Count      0
dtype: int64

In [16]:
df.columns

Index(['Date', 'TweetID', 'User', 'Location', 'Tweet', 'Likes_Count',
       'Retweet_Count', 'Quote_Count', 'Reply_Count'],
      dtype='object')

In [17]:
# Sentiment Analysis on Tweet Column
pip install nltk

SyntaxError: invalid syntax (1449786736.py, line 2)

In [19]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# download nltk
nltk.download('vader_lexicon')  

# Initialize the VADER sentiment analyzer
sia = SentimentIntensityAnalyzer()

# Function to get sentiment from VADER
def get_sentiment(tweet):
    sentiment_score = sia.polarity_scores(tweet)['compound']
    if sentiment_score > 0.05:
        return 'positive'
    elif sentiment_score < -0.05:
        return 'negative'
    else:
        return 'neutral'

# Apply sentiment analysis to the 'Tweet' column and create a new column 'Sentiment'
df['Sentiment'] = df['Tweet'].apply(get_sentiment)

# Display the updated DataFrame
print(df[['Tweet', 'Sentiment']])  # Display only 'Tweet' and 'Sentiment' columns

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Data\AppData\Roaming\nltk_data...

                                                Tweet Sentiment
0   RT @ayindeautos: The bus driver is actually co...  negative
1   RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...  positive
2   #LijoNo #حرائق_لوس_أنجلوس #حرائق_كالفورنيا #Li...   neutral
3   RT @dahjesuboy: My rate 9/10 why there's origi...  positive
4   RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...  positive
..                                                ...       ...
95  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...   neutral
96  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...   neutral
97  #Arknights #Alerta #CubaConVenezuela #cryptoma...   neutral
98  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...   neutral
99  #LosAngelesFire #EmiratesFACup #LijoNo #حرائق_...   neutral

[100 rows x 2 columns]

In [20]:
#Print the new dataframe
df.head(5)

,Date,TweetID,User,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count,Sentiment
0,2025-01-12 14:41:51+00:00,1878452334042243304,Adekunle_Bo,"Lagos, Nigeria",RT @ayindeautos: The bus driver is actually co...,0,13,0,0,negative
1,2025-01-12 14:39:56+00:00,1878451854348022056,Kolawole11960,Not Specified,RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...,0,15,0,0,positive
2,2025-01-12 14:28:26+00:00,1878448960286683275,dxh8932,Not Specified,#LijoNo #حرائق_لوس_أنجلوس #حرائق_كالفورنيا #Li...,0,0,0,0,neutral
3,2025-01-12 14:27:24+00:00,1878448699262591035,TheDimejiLateef,Nigeria,RT @dahjesuboy: My rate 9/10 why there's origi...,0,1,0,0,positive
4,2025-01-12 14:23:24+00:00,1878447691820122373,Wimfatanya_nisi,Not Specified,RT @Mrfizzy_10: Lisabi 2 A Legend is Born is f...,0,15,0,0,positive

In [21]:
 # Save clean DataFrame to CSV
df.to_csv('CleanLisabitweets_data.csv', index=False)